.boxed{
  background-color:#FAFAFA;
  padding-top: 50px;
}

.solution-gif{
  display:flex;
  justify-content: space-between;
  max-width:55%;
  margin:0 auto;
  margin-bottom:100px;
}

.gif{
  height: 700px;
  width:350px;
  padding-right: 60px;
  padding-left: 60px;
}

.persona{
  display: flex;
  max-width: 100%;
  margin-bottom: 46px;
}

.brainstorm-top, .brainstorm-bottom{
  display: flex;
  justify-content: space-around;
  margin-left: 212px;
}

.brainstorm-img{
  max-width: 500px;
  height:405px;
}

figcaption{
  margin: 15px 0 0 10px;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
}

.lofi{
  display: flex;
  justify-content: space-around;
  margin-left: 212px;
  margin-top: 50px;
}

.lofi-image{
  display:block;
  margin:0 auto;
  margin-bottom:100px;
  max-width:80%;
}


/*brainstorm{
  margin:0 auto;
}

.figure{
max-width: 25%;
}*/

.image{
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;
  width:150%
}

.imports{
  display:block;
  margin:0 auto;
}