body, html{
  height: 100%;
/*   margin: auto; */
}

.page-wrapper{
  min-height: 100%;
}

@media (max-width: 875px){
  .nav-global{
  display: none;
}
}

p{
  font-family: 'Lato', sans-serif;
  line-height: 32px;
  font-size: 16px;
  max-width: 100%;
  margin: 20px auto 30px auto;
}

h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: black;
  max-width: 850px;
  margin: 0 auto;
  display: block;
}

h5{
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  color:#8F5B36;
  margin-bottom: 0em;
}

h6{
  font-family: 'Playfair Display', sans-serif;
  font-size: 24px;
  color: black;
}

.apple-hero{
  display: block;
  width: 100%;
}