/*text styles*/
h1{
	font-family:'Playfair Display', serif;
	font-size:36px;
	color:#000;
}

p{
font-family: 'Lato', sans-serif;
  line-height: 180%;
  font-size: 18px;
  max-width: 100%;
  margin-top:20px;
  margin: 0 auto;
  color:#535353;
}

.section p{
	margin:0px;
}


/*body sections*/
.intro{
	text-align:center;
	margin:80px auto;
}

.section{
	display:flex;
	justify-content: center;
}

.divider{
margin: 50px auto;
width: 40%;
height: 0px;
border: 1px solid #c3c3c3;
}


/*button style*/
button{
	padding:8px 16px;
	background-color: #EBF3B5;
	border-style:solid;
	border-color:#000;
	border-width:1px;
	margin:20px auto;
	display:block;
	border-radius:30;
}

footer{
	position:absolute !important;
	width:100% !important;
}