body, html{
  height: 100%;
  margin: auto;
}

@media (max-width: 875px){
  .nav-global{
  display: none;
}
}
}
h3{
  color: grey;
  position: block;
  padding-top: 50px;
  font-family: 'Lato', sans-serif;
}

.animation{
margin-left: 85px;
font-family: Lato, sans-serif;
font-size: 16px;
margin-top: 0px;
}

.highlight{
  background: #81D8D0;
}

span:before{
  content:'why';
  animation: animate infinite 8s;
}

@keyframes animate{
  0%{
    content:'';
  }
  20%{
    content:'product';
  }
  40%{
    content:'idea';
  }

  60%{
    content:'design';
  }

  80%{
    content:'user';
  }

  100%{
    content:'goal';
  }
}

.parallax{
  background-image: url("../images/homepage/parallax.svg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  transform: scale(0.75 0.75);
  -webkit-transform: scale(0.75, 0.75);
  z-index: -1;
  opacity: 75%;
}

figure {
 display: block;
margin: 100px auto 100px auto;
 max-width: 400px;
 height: auto;
font-family: 'Lato', sans-serif;
 z-index: 1;
}

.project{
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(1);
  z-index: 1;
  box-shadow: 3px 3px 14px rgba(0,0,0,0.3);
}
.project:hover{
  animation-name: hover;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes hover{
  100%{
    filter: none;
  }
}

figcaption{
  margin: 15px 0 0 10px;
  font-family: 'Lato', sans-serif;
}
figure a{
  text-decoration: none;
}
#fig-1{
  font-size: 13px;
}

#tags{
  font-size: 13px;
  color: grey;
}
figcaption:hover{
  font-weight: semi-bold;
}
figure:hover ~ #hr-mirrors-name{
  opacity: 100%;
  color: green;
  width: 80%;
}


footer{
  text-align:center;
  padding:10px;
}

a{
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}