body, html{
  height: 100%;
  margin: auto;
overflow-x: scroll;
overflow-y:hidden;
}

@media (max-width: 875px){
  .nav-global{
  display: none;
}
}
}
h3{
  color: grey;
  position: block;
  padding-top: 50px;
  font-family: 'Lato', sans-serif;
}
::-webkit-scrollbar {
	width:0px;
	height:8px;

}

::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-thumb:hover {
  background: black/*#4DD6C9*/; 
}

.column{
  display:flex;
  justify-content: space-between;
  overflow-x:scroll;
  min-width:100%;
}

.column-piece{
  min-width:33%;
}

.column-piece img{
  width:100%;
}

.animation{
margin-left: 85px;
font-family: Lato, sans-serif;
font-size: 16px;
margin-top: 0px;
}

.highlight{
  background: #81D8D0;
}

span:before{
  content:'why';
  animation: animate infinite 8s;
}

@keyframes animate{
  0%{
    content:'';
  }
  20%{
    content:'product';
  }
  40%{
    content:'idea';
  }

  60%{
    content:'design';
  }

  80%{
    content:'user';
  }

  100%{
    content:'goal';
  }
}

.parallax{
  background-image: url("../images/homepage/parallax.svg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  transform: scale(0.75 0.75);
  -webkit-transform: scale(0.75, 0.75);
  z-index: -1;
  opacity: 75%;
}

figure {
 display: block;
margin: 100px auto 70px auto;
 max-width: 400px;
font-family: 'Lato', sans-serif;
 z-index: 1;
}

.project{
  width: 100%;
  height: 100%;
/*  -webkit-filter: grayscale(1);*/
  z-index: 1;
   border-radius:8px;
}
.project:hover{
  animation-name: hover;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
    box-shadow: 3px 3px 14px rgba(0,0,0,0.3);
/*    position: relative;
    top:-15px;
}*/}


figcaption{
  margin: 15px 0 0 10px;
  font-family: 'Lato', sans-serif;
  font-size:18px;

}
figure a{
  text-decoration: none;
}
#fig-1{
  font-size: 15px;
}

#tags{
  font-size: 14px;
  color: grey;
}
figcaption:hover{
  font-weight: semi-bold;
}
figure:hover ~ #hr-mirrors-name{
  opacity: 100%;
  color: green;
  width: 80%;
}


footer{
  text-align:center;
  padding:10px;
  font-size:14px;
}

a{
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}