.text-box{
  max-width:100%;
  display: block;
  margin:0px auto 80px auto
}

/*RESEARCH*/
.approach, .research, .copywriting, .cardSort, .lofi, .wireframes, .usability, .improvements, .takeaways{
  margin: 0 auto;
  width: 55%;
}

.columns{
  display: flex;
  justify-content: space-between;
}

.research-tasks{
  margin-top: 30px;
}

.competitors{
  width: 100%;
}

.empathymap{
  display: block;
  margin: 50px auto;
  max-width:950px;
box-shadow: -6px -6px 15px rgba(194, 192, 192, 0.1), 4px 4px 16px rgba(107, 104, 104, 0.1);
}

figcaption{
  margin: 15px 0 0 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}

.cardSort-details{
  display: flex;
  justify-content: space-between;
}

.cardSort-chart{
max-width:950px;
padding:30px;
box-shadow: -6px -6px 15px rgba(194, 192, 192, 0.1), 4px 4px 16px rgba(107, 104, 104, 0.1);
display:block;
  margin: 0 auto;
}

.lofi-frames{
  width: 100%;
  margin: 0 auto;
}

.annotation-img{
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.round2{
  text-align: center;
}

.usability-img{
  width: 100%;
  margin-bottom: 30px;
   box-shadow: 2px 3px 8px rgba(0,0,0,0.3);
}

/*.homepage-comparison{
  width: 100%;
  margin-bottom: 20px;
}*/

.task3-annotated{
  display:flex;
  justify-content: space-around;
}

.h5-sub{
  margin: 30px 0 0 0;
}
.p-sub{
  margin: 0px;
  font-weight: bold;
}

.highlight{
  background-color: #82ACFF;
  color: black;
}

/*javascript code*/
#primary-research, #secondary-research{
 width: 100%;
margin: 0 auto;
  display: none;
}
