@media (min-width: 1008px){

#CTA{
  border-style: solid;
  border-color: #0F4FAD;
  border-width: 2px;
  background: white;
  border-width: 2px;
  padding: 15px 30px 15px 30px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  display: block;
  margin: 30px auto 80px auto;
  border-radius:30px;
}

#CTA:hover{
  background:#0F4FAD;
}

#CTA:active{
  background:#0F4FAD;
  color: grey;
}

.solution-gif{
  display:block;
  margin:30px auto;
  box-shadow: -6px -6px 15px rgba(194, 192, 192, 0.1), 4px 4px 16px rgba(107, 104, 104, 0.1);
}

figcaption{
  margin-bottom:10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-left:35px;
}

.research-deliverable{
	display:block;
	width:70%;
	margin:25px auto;
}

b{
	font-weight:600;
}

.invision{
  width:60%;
  margin:30px auto;
}

.invision img{
  height:100%;
}

.invision img:nth-child(1){
  box-shadow: -6px -6px 15px rgba(194, 192, 192, 0.1), 4px 4px 16px rgba(107, 104, 104, 0.1);
  padding:15px;
}

.twitter img{
	display:block;
	width:70%;
	margin:25px auto;
  box-shadow: -6px -6px 15px rgba(194, 192, 192, 0.1), 4px 4px 16px rgba(107, 104, 104, 0.1);
}

.campaign img:nth-child(1){
	width:80%;
}

.campaign img{
	display:block;
	width:70%;
  margin:25px auto;
  box-shadow: -6px -6px 15px rgba(194, 192, 192, 0.1), 4px 4px 16px rgba(107, 104, 104, 0.1);
}

.wireframes img{
  height:100%;
  margin-bottom:30px;
}
}









/*MEDIA QUERY - MOBILE VIEW*/
@media only screen and (max-width:640px){

.twitter img{
		display:block;
		width:70%;
	}

.campaign{
	width:50%;
	margin:20px 0px;
}

.campaign img{
	width:100%;
}