.page-wrapper{
  min-height: 100%;
  /*height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;*/
}

.parallax{
  background-image:url('images/queue/hero.svg');
  min-height:600px;
  width:100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom:100px;
  width:100%;
}

#CTA{
  border-style: solid;
  border-color: #275B81;
  border-width: 2px;
  background: white;
  border-width: 2px;
  padding: 15px 30px 15px 30px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  display: block;
  margin: 0px auto 30px auto;
/*  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);*/
  border-radius:30px;
}

#CTA:hover{
  background:#275B81;
}

#CTA:active{
  background:#275B81;
  color: black;
}
/*
#CTA a{
  color:white;
}*/
#competitors{
  width:50%;
 margin:20px auto;
 display:none;
}

.text-box{
width:100%;
  display: block;
  margin:0px auto 80px auto
}

.deliverable{
  display:block;
  max-width:860px;
margin:0 auto;
margin-top:50px;
margin-bottom:80px;
box-shadow: -6px -6px 15px rgba(194, 192, 192, 0.1), 4px 4px 16px rgba(107, 104, 104, 0.1);
}

.brainstorm{
  display: flex;
  justify-content: space-around;
margin-left:269px;
}

.brainstorm figure{
margin: 50px auto;
}

.brainstorm img{
  max-width: 490px;
margin-right:5px;
box-shadow: -6px -6px 15px rgba(194, 192, 192, 0.1), 4px 4px 16px rgba(107, 104, 104, 0.1);
}

#brainstorm-2{
  max-width:490px;
}

.brainstorm figcaption{
  font-family: 'Lato', sans-serif;
  font-size:14px;
  line-height:25px;
  width:422px;
}



.task-flow{
  width:902px;
  display: block;
  margin:0 auto;
  margin-top:50px;
}

.task-flow-a{
  margin-left:100px;
  margin-bottom:80px;
  width:60%;
}

.features{
  width:100%;
  display: block;
margin-top:20px;
margin-bottom:80px;
}

.midfi{
  width:1044px;
  display: block;
  margin: 50px auto 80px auto;
}

.lofi-1, .lofi-2, .lofi-3{
  display:flex;
  justify-content:space-between;
  width:902px;
  padding: 30px;
  box-shadow: -6px -6px 15px rgba(194, 192, 192, 0.1), 4px 4px 16px rgba(107, 104, 104, 0.1);

}

.lofi-1 img{
min-width:294px;
height:183px;
margin-right:10px;
}

.lofi-2 img{
  width:223px;
  height:183px;
  margin-right: 10px;
}

.lofi-3 img{
  width:294px;
  height:183px;
  margin-right:10px;
}

.columns{
  display: flex;
  justify-content: space-between;
}

.column-left{
  min-width: 550px;
  margin-right:75px;
}

.column-right{
  min-width:350px;
}

.iterations{
  display:block;
  margin: 50px auto 0px auto;
}

.moodboard{
  margin-bottom:50px;
  margin-left:269px;
}
.moodboard figcaption{
  font-family: 'Lato', sans-serif;
}

.branding{
  max-width:100%;
  display:block;
  margin-left:184px;
  margin-bottom:50px;
}

.usability-2{
  max-width:100%;
  margin-bottom:50px;
}

.prototype{
  margin: 30px auto;
  text-align:center;
}



/*MODAL STUFF*/
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/*media queries*/
@media (max-width: 768px){
 .overview-columns{
  margin:0 30px;
  width:100%;
 }

 .approach img{
  max-width:190px;
 }

 .overview-design{
  max-width:90%;
  margin:30px;
 }

 .design-solution{
  width:80%;
  margin:30px;
 }

 .section{
  margin:30px;
  width:90%;
 }

 .deliverable{
  margin:30px auto;
  max-width:100%;
 }

 #CTA{
  font-size: 12px;
  margin:30px;
 }

.brainstorm{
  display:block;
  margin:0 auto;
}

.text-boxm .features{
  margin-left:-70px;
}
}