@media (min-width: 1008px){

.page-wrapper{
  min-height: 100%;
}

.parallax{
  background-image:url('images/queue/hero.svg');
  min-height:600px;
  width:100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
}

#CTA{
  border-style: solid;
  border-color: #275B81;
  border-width: 2px;
  background: white;
  border-width: 2px;
  padding: 15px 30px 15px 30px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  display: block;
  margin: 30px auto;
/*  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);*/
  border-radius:30px;
}

#CTA:hover{
  background:#275B81;
}

#CTA:active{
  background:#275B81;
  color: black;
}

#CTA a{
  font-weight: 600;
}

#CTA a:hover{
  color:#fff;
}

#competitors{
  width:50%;
 margin:20px auto;
 display:none;
}

.competitor-logo{
  max-width:60%;
}

.text-box{
width:100%;
  display: block;
  margin:0px auto 80px auto
}

.deliverable{
  margin-bottom:50px;
}

.deliverable img{
  display:block;
  max-width:100%;
margin:10px auto 0px auto;
box-shadow: -6px -6px 15px rgba(194, 192, 192, 0.1), 4px 4px 16px rgba(107, 104, 104, 0.1);
}

.deliverable figcaption{
max-width: 75%;
margin:10px;
font-size: 12px;
font-family:'Open Sans', sans-serif;
}




.brainstorm figure{
margin: 50px auto;
}

.brainstorm img{
  max-width: 100%;
margin-right:5px;
box-shadow: -6px -6px 15px rgba(194, 192, 192, 0.1), 4px 4px 16px rgba(107, 104, 104, 0.1);
}


.brainstorm figcaption{
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  line-height:25px;
  width:100%;
}

.mob-textbox{
  display:none;
}

.feature img{
  margin:30px;
}

.task-flow{
  box-shadow: -6px -6px 15px rgba(194, 192, 192, 0.1), 4px 4px 16px rgba(107, 104, 104, 0.1);
  margin:30px auto;
  padding:20px;
}

.task-flow-img{
  width:100%;
  display: block;
  margin:0 auto;
}

.task-flow-a{
  margin-left:100px;
  width:40%;
}

.features{
  width:100%;
  display: block;
margin-top:20px;
margin-bottom:80px;
}

.midfi{
  width:100%;
  display: block;
  margin: 20px auto 50px auto;
  height:100%;
}

.midfi-container{
  margin:20px auto;
}

.lofi-container{
  margin-bottom:30px;
}

.lofi-1, .lofi-2{
  display:flex;
  justify-content:space-between;
  width:90%;
  margin:30px auto;
/*  box-shadow: -6px -6px 15px rgba(194, 192, 192, 0.1), 4px 4px 16px rgba(107, 104, 104, 0.1);*/

}

.lofi-1 img{
width:33%;
height:100%;
}

.lofi-2 img{
width:33%;
height:100%;
}

.columns{
  max-width:80%;
  margin-left:269px;
}

.iterations{
  display:block;
  margin: 50px auto 0px auto;
}

.moodboard{
max-width:100%;
margin:30px auto;
}

.moodboard img{
box-shadow: -6px -6px 15px rgba(194, 192, 192, 0.1), 4px 4px 16px rgba(107, 104, 104, 0.1);
padding:20px;
}

.moodboard figcaption{
  max-width: 75%;
margin:10px;
font-size: 12px;
font-family:'Open Sans', sans-serif;
}

.branding{
  max-width:100%;
  display:block;
  margin-bottom:50px;
}

.usability-1{
margin:50px 0px;
}

.usability-2{
  max-width: 83%;
  margin:50px 0px;
}
.prototype{
  margin: 30px auto;
  text-align:center;
  max-width:80%;
}


.solution-gif-1{
  flex-direction: row-reverse;
}

.solution-gif, .solution-gif-1{
  display:flex;
  max-width:55%;
  margin:60px auto;
  margin-bottom:100px;
}



.solution-gif div{
  width:50%;
}

.solution-gif-1 div{
  width: 50%;
}


.gif{
  height: 500px;
}



/*MODAL STUFF*/
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}
}












/*TABLET*/
@media (min-width: 641px) and (max-width: 1007px){

.CTA a{
  text-decoration: none;
    border-style: solid;
    border-color: #275B81;
    border-width: 2px;
    background: white;
    border-width: 2px;
    padding: 15px 30px 15px 30px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin: 30px auto 30px auto;
    border-radius:30px;
}

  body{
    overflow-x:hidden;
  }
  .columns{
    margin: 0 30px 30px 30px;
  }

.hero-section{
	margin:50px auto 30px auto;
}
.task-flow-a{
  max-width:50%;
}

 .soution-gif-1{
    flex-direction:row-reverse;
  }

  .solution-gif, .solution-gif-1{
    justify-content: center;
    margin:50px auto;
  }

.gif{
    width:80%;
  }

.stat{
	margin:30px auto;
}

.lofi:nth-child(2){
  display:none;
}

.lofi:nth-child(1){
  display:none;
}

.lofi-2{
  display:none;
}

.brainstorm img{
  box-shadow: -6px -6px 15px rgba(194, 192, 192, 0.1), 4px 4px 16px rgba(107, 104, 104, 0.1);
}

.midfi{
  margin-bottom:50px;
  height:100%;
}

.text-box{
  margin-bottom:50px;
}

.affinity{
  margin-bottom:30px;
}
.usability-1{
  max-width:85%;
}

.usability-1, .usability-2{
  margin:30px 50px 0px 50px;
}

.moodboard img{
  max-width:80%;
  margin:30px 50px;
}

.branding{
  max-width:95%;
  margin-left:30px;
}

.approach-h h6{
  margin-left:45px;
  margin-bottom:10px;
}

.feature img{
  margin:15px auto;
}

.next{
  margin:30px;
  text-align:center;
}

.final-img{
	width:100%;
}
}




























/*MEDIA QUERY - MOBILE VIEW*/
@media only screen and (max-width:640px){
.CTA a{
  text-decoration: none;
    border-style: solid;
    border-color: #275B81;
    border-width: 2px;
    background: white;
    border-width: 2px;
    padding: 15px 30px 15px 30px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin: 30px auto 30px auto;
    border-radius:30px;
}

.parallax{
  min-width:100%;
}

.overview-design h5{
  max-width:100%;
}
.mob-textbox{
  min-width:100%;
  display:block;
}

.text-box{
  display:none;
  width:0%;
}

.feature img{
  max-width:50%;
  margin:0 auto;
}

.competitor-d{
  display:none;
}

.deliverable{
  box-shadow: -6px -6px 15px rgba(194, 192, 192, 0.1), 4px 4px 16px rgba(107, 104, 104, 0.1);
}

.lofi:nth-child(2){
  display:none;
}

.lofi:nth-child(1){
  display:none;
}

.lofi-2{
  display:none;
}

.midfi-row{
  margin-bottom:30px;
}

.midfi{
  height:100%;
}

.midfi-container{
margin:30px 0px;
}

.next{
  text-align:center;
  margin-bottom:30px;
}

.solution-gif, .solution-gif-1{
    margin:30px 0px;
  }

.gif{
  max-width:50%;
}

}