/*new body text:*/
h4{
	font-family: azo-sans-web,sans-serif;
	font-weight:400;
	font-style: normal;
	font-size:16px;
}

h5{
font-family: bely-display,sans-serif;
font-weight: 400;
font-style: normal;
}

h6{
	font-family:azo-sans-web, sans-serif;
	font-weight:700;
	font-style: normal;
	font-size: 19px;
}

p, li{
color:#131111 !important;
font-family: azo-sans-web,sans-serif;
font-weight: 400;
font-style: normal;
}


/*end of new body text*/

.image-row{
	margin:24px;
}

.design-row{
	margin:16px auto;
}


.gifs{
	width:30%;
	margin:0 auto;
	padding:16px;
	filter: drop-shadow(-6px -6px 15px rgba(194, 192, 192, 0.1)) drop-shadow(4px 4px 16px rgba(107, 104, 104, 0.1));
}

.photo{
	width:90%;
	display:flex;
	justify-content:center;
	filter: drop-shadow(-6px -6px 15px rgba(194, 192, 192, 0.1)) drop-shadow(4px 4px 16px rgba(107, 104, 104, 0.1));
	margin: 8px 0px;
}

.photo-md{
	width:60%;
	margin: 0 auto;
}

ul.list-no-bullets{
	list-style-type: none;
	margin:0;
	padding:0;
}
