body, html{
  height: 100%;
/*   margin: auto; */
}

.page-wrapper{
  min-height: 100%;
}

@media (max-width: 875px){
  .nav-global{
  display: none;
}
}

p, ul{
  font-family: 'Lato', sans-serif;
  line-height: 180%;
  font-size: 18px;
  max-width: 100%;
  margin-top:20px;
  margin: 0 auto;
  color:#535353;
}

h4{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #000000;
  max-width: 850px;
  margin: 0 auto;
  display: block;
  margin-bottom: 5px;
  margin-block-end: 0em;
}

h5{
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  color:#000000;
  margin-bottom: 20px;
  margin-top:0px;
}

h6{
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight:700;
  color:#000000;
  margin-bottom: 15px;
  margin-top:0px;

}


ol, li, dd, dt{
  font-family: 'Lato', sans-serif;
  line-height: 200%;
  font-size: 18px;
  color:#535353;
}

.divider{
margin: 80px auto 80px auto;
width: 100px;
height: 0px;
border: 4px solid #275B81;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);

}

/* CTA-style-start */

.CTA{
  display: flex;
  align-items: center;
}

/*Queue start*/
.hero{
  display:block;
  width:100%;
  margin-bottom:100px;
}

/*OVERVIEW*/

.overview-columns{
  width: 70%;
  margin-left: 269px;
  margin-bottom:80px;
  display: flex;
  justify-content: space-between;
}

.overview-design{
  max-width: 55%;
  margin-left: 269px;
  margin-top:50px;
}

.design-solution{
  width:1044px;
  display:block;
  margin:30px auto;
  box-shadow: -6px -6px 15px rgba(194, 192, 192, 0.1), 4px 4px 16px rgba(107, 104, 104, 0.1);
}

.solution-gif{
  display:flex;
  justify-content: space-between;
  max-width:60%;
  margin: 100px auto 100px auto;
}

.gif{
  height: 700px;
  min-width:350px;
  padding-right: 60px;
  padding-left: 60px;
}

.approach{
  display: flex;
  justify-content: space-between;
  margin:0 auto;
  max-width: 904px;
  margin-bottom:80px;
}

.approach img{
  max-width: 245px;
}

#approach-hover{
  -webkit-filter: grayscale(1);
}

#approach-hover:hover{
  animation-name: hover;
  animation-duration:200ms;
  animation-fill-mode: forwards;
}

@keyframes hover{
  100%{
    filter: none;
  }
}

.section{
  max-width: 50%;
margin-left: 269px;
}