.hero{
	background-color: #F5F5F5;
	margin-bottom: 48px;
}

.section-bg-txt{
	background-color: #F5F5F5;
	padding: 16px 24px;
}

.section-bg-img{
	background-color: #F5F5F5;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.gif{
	width: 77%;
	position: relative;
	top: 32px;
}

.section{
	margin: 32px auto;
}