.hero{
	background-color: #F5F5F5;
	margin-bottom: 48px;
}

.section-bg-txt{
	background-color: #F5F5F5;
	padding: 16px 24px;
}

.section-bg-img{
	background-color: #F5F5F5;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.section{
	margin: 32px auto;
}

.section img{
width: 100%;
}

.gif{
	width: 77% !important;
	position: relative;
	top: 32px;
	filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.1));
}

.image{
	width: 50%;
	display: flex;
	justify-content: center;
}