body, html{
margin: auto;
overflow-x: hidden;
background-color: #FBFBFB;
}


/*HEADER SECTION */
.heroIntro{
  padding: 277px;
  height:100vh;
  width:65%;
}

.heroIntro h1{
  font-family: Work Sans, sans-serif;
  font-size:70px !important;
  color:#222222;
  font-weight: bold;
  text-align:left;
}


/*HEADER-DESCRIPTION*/

/*.tagline-div{
  margin: 32px auto 16px auto;
  width: 52%;
}*/

.tagline, .tagline-cycle{
  font-family: Work Sans, sans-serif;
  color: #393A40;
  font-weight:500;
}

.tagline-cycle::before{
  content:'systems thinker';
  animation: animate infinite 5s;
  -webkit-animation-name: animate;
  -webkit-animation-duration:5s;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes animate{
  25%{content:'systems thinker';}
  50%{content: 'coffee lover';}
  75%{content:'travel junkie';}
  100%{content: 'curious learner'}
}

.heroDescription p{
  font-family:  Work Sans;
  font-style:  normal;
  font-weight: normal;
  font-size: 20px;
  color: #343437;
  margin: 0 auto;
  text-align: left;
  font-weight:400;
}



/*FONT STYLES*/

.homeP3{
	font-family: Work Sans;
	font-size: 12px;
	margin-bottom:8px;
  text-transform:uppercase;
  font-color: #DDDDDD;
}

.homeHeader{
	font-family: Work Sans;
	font-style: normal;
	font-weight: 600;
  font-size:32px;
	margin-bottom: 8px;
}

.homeDescription{
	font-family: Work Sans;
	font-size: 16px;
	margin-bottom:32px;
}

.button{
	margin-top:32px;
}



/*SECTION STYLES*/

.section{
  width:65%;
  padding-bottom:32px;
  margin:0 auto 40px auto;
  box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.10);
}

.contentHome{
	margin-top:24px;
  padding-left:5%;
  padding-right:5%;
}

.image img{
	width: 100%;
}

#WP-Alfred{
  background-color: #1B1C20;
  color: #fff;
}

#WP-MM{
  background-color:#576F48;
  color: #fff;
}

#Stitchology{
  background-color:#F5F5F5;
  color: #000;
}


/*------------- MOBILE --------------*/
@media (max-width:640px){
.tagline-div{
  margin: 32px auto 16px auto;
  width: 100%;
}

.section{
display: block;
margin-bottom: 64px;
}

.left-content{
  margin: 24px;
  width: 100%;
}

.image{
  width: 100%;
}

}