body, html{
margin: auto;
overflow-x: hidden;
}

/*------------- ABOVE THE FOLD SECTION --------------*/

.intro{
  text-align:center;
  padding: 200px;
}

/*.intro:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
}
*/

.intro h1{
  font-family:'Work Sans', sans-serif;
  font-size:70px !important;
  color:#000;
  font-weight: bold;
}

.tagline-div{
  margin: 32px auto 16px auto;
  width: 70%;
}

.tagline, .tagline-cycle{
  font-family:'Work Sans', sans-serif;
  color: #000;
  font-weight: 600;
}

.tagline-cycle::before{
  content:'systems thinker';
  animation: animate infinite 5s;
  -webkit-animation-name: animate;
  -webkit-animation-duration:5s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes animate{
  20%{content:'systems thinker';}
  40%{content: 'junior coder';}
  60%{content:'adventurer';}
  80%{content: 'curious learner'}
  100%{content:'coffee lover';}
}

.intro p{
  font-family:  Work Sans;
  font-style:  normal;
  font-weight: normal;
  font-size: 18px;
  line-height:  27px;
  color: #141516;
  margin: 8px auto;

}

/*
#tagline{
  text-align:left;
}*/




/*.logo{
  background-image:none !important;
}
*/

h3{
  color: grey;
  position: block;
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
}

.title{
  font-family:'Work Sans', sans-serif;
  font-size:80px !important;
  line-height:100%;
  color:#000;
/*  text-shadow: 0px 20px 28px #000000;*/
  font-weight:700 !important;
}


p{
  font-family:  Work Sans;
  font-style:  normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #000;
}



.down{
/*padding:50px;*/
/*display:block;*/
text-align: center;
/*position: relative;*/
/*top:70px;*/
scroll-behavior: smooth;
}

.down p{
  color:#000;
  font-size:14px;
  font-family:'Work Sans', sans-serif;
  margin-top: 54px;
}

#down a:hover{
  text-decoration:none;
}


.column-piece{
  padding:50px;
}

.column-piece a{
	text-decoration: none !important;
}

.parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: -1;
  height:110%;
  background-color:#1F1E1E;
}

.parallax-1{
  background-image: url("../images/homepage/parallax-1-no.png")/*, url("../images/homepage/backkground-blackyblack.png")*/;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: -1;
  height:100%;
  background-color:#121212;
}

.parallax-2{
  background-image: url("../images/homepage/parallax-2-no.png")/*, url("../images/homepage/backkground-blackyblack.png")*/;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: -1;
  height:100%;
  background-color:#121212;
}

.parallax-3{
  background-image: url("../images/homepage/parallax-3-no.png")/*, url("../images/homepage/backkground-blackyblack.png")*/;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: -1;
  height:100%;
  background-color:#121212;
}

figure {
 display: block;
margin: 100px auto !important;
 width: 40%;
font-family: 'Open Sans', sans-serif;
 z-index: 1;
box-shadow: 0px 20px 80px rgba(0,0,0,0.8);
  border-radius: 12px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
    transition:width 1s;
  transition-timing-function: ease-in-out;
}

figure:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 30px rgba(255, 255, 255, .25);
  filter: blur(10px);
  margin: -20px;
}

figure:hover .project, .project:hover{
/*  animation-name: hover;
  animation-duration: 500ms;
  animation-fill-mode: forwards;  
    position: relative;*/
    transform:scale(1.05);
}

.project{
  width: 100%;
  height: 100%;
/*  -webkit-filter: grayscale(1);*/
  z-index: 1;
   border-radius:8px;
   box-shadow: 3px 3px 14px rgba(0,0,0,0.3);
  transition: 1s;
  transition-timing-function: ease-in-out;
}


figcaption{
  margin: 15px 0 0 10px;
  font-family: 'Open Sans', sans-serif;
  font-size:20px;
  line-height: 150%;
  font-weight:300 !important;

}
figure a{
  text-decoration: none;
}

#title{
font-family:'Playfair Display', serif !important;
font-size:20px !important;
line-height: 150%;
padding-top:10px;
padding-left:15px;
color:#fff;
font-weight:600;
}

#fig-1{
  font-size: 16px;
    line-height: 120%;
padding:0px 15px;
color:#fff;
}

#tags{
  font-size: 15px;
  color: grey;
    line-height: 100%;
padding:15px;
color:#BCBDC0;
}

figcaption:hover{
  font-weight: semi-bold;
}
figure:hover ~ #hr-mirrors-name{
  opacity: 100%;
  color: green;
  width: 80%;
}

a{
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
}



/*------------- MOBILE --------------*/
@media (max-width:640px){

.tagline-div{
  margin: 32px auto 16px auto;
  width: 100%;
}


.topnav a:first-child{
  line-height: 125%;
  padding-left: 8px;
}
}
