body, html{
margin: auto;
overflow-x: hidden;
background-color: #F3F3F3;
}


/*HEADER SECTION */
.intro{
  text-align:center;
  padding: 200px;
}

.intro h1{
  font-family:'Bebas Neue', sans-serif;
  font-size:100px !important;
  color:#1D1E22;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-shadow: 0px 2px 6px rgba(121, 121, 121, 0.38);
}


/*HEADER-DESCRIPTION*/

.tagline-div{
  margin: 32px auto 16px auto;
  width: 52%;
}

.tagline, .tagline-cycle{
  font-family:'Source Sans Pro', sans-serif;
  color: #1D1E22;
  font-weight: 600;
}
.tagline-cycle::before{
  content:'systems thinker';
  animation: animate infinite 5s;
  -webkit-animation-name: animate;
  -webkit-animation-duration:5s;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes animate{
  20%{content:'systems thinker';}
  40%{content: 'coffee lover';}
  60%{content:'adventurer';}
  80%{content: 'curious learner'}
  100%{content:'amateur coder';}
}
.intro p{
  font-family:  Source Sans Pro;
  font-style:  normal;
  font-weight: normal;
  font-size: 18px;
  color: #1D1E22;
  margin: 0 auto;
  text-align: left;

}



/*FONT STYLES*/

.home-caption{
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	text-transform: uppercase;
	margin-bottom:0px;
}

.home-header{
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	margin-bottom: 0px;
}

.home-description{
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 32px;
}

.button{
	margin-top:32px;
}

.wage


/*SECTION STYLES*/

.section{
	display: flex;
	justify-content: space-between;
}

.left-content{
	padding-right: 64px;
	width: 45%;
	margin: auto;
}

.image{
	width: 50%;
}

.image img{
	width: 100%;
}


/*------------- MOBILE --------------*/
@media (max-width:640px){
.tagline-div{
  margin: 32px auto 16px auto;
  width: 100%;
}

.section{
display: block;
margin-bottom: 64px;
}

.left-content{
  margin: 24px;
  width: 100%;
}

.image{
  width: 100%;
}

}