.gif{
	width:30%;
}

.mockup{
	width:30%;
	margin:0 auto;
}

.mockup img{
	box-shadow: -6px -6px 15px rgba(194, 192, 192, 0.1), 4px 4px 16px rgba(107, 104, 104, 0.1);
	display:block;
}

.designs{
	width:60%;
	margin:30px auto 80px auto;
}

.designs img{
	width:30%;
	box-shadow: -6px -6px 15px rgba(194, 192, 192, 0.1), 4px 4px 16px rgba(107, 104, 104, 0.1);
	margin:5px;
	vertical-align: top;
}

.final{
	height:100%;
	margin:30px auto;
}







/*mobile*/
@media only screen and (max-width:640px){
	.gif{
		width:50%;
	}

	.mockup{
		width:40%;
	}

	.designs img{
		width:40%;
		display:block;
		margin:10px auto;
	}
}