@media (min-width: 1008px){

.hero-section{
	margin-top:80px;
}
.hero-section p{
	font-size:16px !important;
	text-transform:none !important;
}

.hero-section, .section{
	width:40% !important;
	margin-bottom:20px;
}

.images{
box-shadow: -6px -6px 15px rgba(194, 192, 192, 0.1), 4px 4px 16px rgba(107, 104, 104, 0.1);
display:block;
margin:20px auto;
}

.images img{
	height:100%;
}

.images img:nth-child(3){
	display:block;
	margin:0 auto 80px auto;
}

.final{
	width:40%;
	margin:0 auto 80px auto;
}

.final img{
	height:100%;
}

.final img:nth-child(1){
		box-shadow: -6px -6px 15px rgba(194, 192, 192, 0.1), 4px 4px 16px rgba(107, 104, 104, 0.1);
		padding:0px;
}