@media (min-width: 1008px){

.hero-section{
	margin-top:80px;
}
.hero-section p{
	font-size:16px !important;
	text-transform:none !important;
}

.hero-section, .section{
	width:40% !important;
	margin-bottom:20px;
}

.images{
	width:60%;
}

.images img{
	height:100%;
}

.images img:nth-child(3){
	display:block;
	margin:0 auto 80px auto;
}

.images{
width:50%;
display:block;
margin:0 auto;
}

.final{
	width:40%;
	margin:0 auto;
}

.final img{
	height:100%;
}