.phone{
	width:30%;
	height:100%;
	display:block;
	margin:0 auto;
}

.desktop{
width:100%;
}

.preview{
	margin:20px;
	}

.preview p{
	color:#fff;
	position:absolute;
	top:50%;
	left:50%;
}

.preview img{
	transition:1s;
	transition-timing-function: ease-in-out;
	box-shadow: -6px -6px 15px rgba(194, 192, 192, 0.1), 4px 4px 16px rgba(107, 104, 104, 0.1);
}

.preview img:hover{
transform:scale(1.05);
}


.play-section{
	width:60%;
	margin:80px auto 50px auto;
}

.play{
	margin:20px auto 80px auto;
	width:60%;
}


/*
@media (min-width: 1008px){
	.preview{
		margin:0px 20px;
		background-color:#000;
	}
}*/

@media (max-width:640px){
.play-section{
	margin:20px auto;
	width:100%;
}

.play{
	width:100%;
}

.phone{
	width:40%;
}


}