body, html{
/*   margin: auto; */
overflow-x: hidden;
}

/*loader CSS*/
#page {
    display: none;
}

#loading {
    display: block;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-left:-50%;
    z-index: 100;
    width: 100vw;
    margin-top:-50%;
    height: 100vh;
    background-color: white;
    background-image: url("../images/loader.gif");
    background-repeat: no-repeat;
    background-position: center;
}

/*back to top button*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #c3c3c3;
  color: black;
  cursor: pointer;
  padding: 10px;
  border-radius: 100px;
  width:50px;
  height:50px;
}

#myBtn:hover {
  background-color: black;
  color: white;
}

/*text styles*/

p, ul{
  font-family: 'Open Sans', sans-serif;
  line-height: 180%;
  font-size: 16px;
  max-width: 100%;
  margin-top:20px;
  margin: 0 auto;
  color:#535353;
  font-weight:300;
}

b{
	font-weight:600;
}

h4{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #000;
  max-width: 850px;
  display: block;
  margin-bottom: 15px;
  margin-block-end: 0em;
  font-weight:600;
}

h5{
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  color:#000000;
  margin-bottom: 20px;
  margin-top:0px;
}

h6{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color:#000;
  margin-bottom:15px;
  margin-top:0px;
}

ol, li, dd, dt{
  font-family: 'Open Sans', sans-serif;
  line-height: 200%;
  font-size: 16px;
  color:#535353;
  font-weight:300;
}

.divider{
margin: 50px auto;
width: 40%;
height: 0px;
border: 1px solid #c3c3c3;
}

/* basic CTA*/

.CTA{
  display: flex;
  justify-content: center;
}

.gif{
box-shadow: -6px -6px 15px rgba(194, 192, 192, 0.1), 4px 4px 16px rgba(107, 104, 104, 0.1);
margin:20px auto;
}