	/*------------- NAVIGATIONAL ITEMS SECTION --------------*/
.topnav{
	padding: 24px 48px;
	display: flex;
	width:25%;
	float:right;
}

.topnav a, .footer a{
	font-family:  Work Sans;
	color: #1D1E22;
	text-transform:uppercase;
	font-size: 16px;
	text-decoration: none !important;
}

.topnav a{
	float: right;
	padding: 0px 24px;
}

.topnav a:hover, .footer a:hover{
  background-color:#1F1E1E;
  color: #fff !important;
  text-decoration:none;
}

#right{
	display: flex;
}

#right a{
	padding: 0px 24px;
}

.footer{
	background-color: #FDFDFD;
/*	display: flex;
	justify-content: space-between;*/
	margin-top: 64px;
	box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.08);
}

.footer p{
  color: #000;
  text-align:left;
  font-family:  Work Sans, sans-serif;
  font-size:13px;
  margin: 16px auto 0px auto;
}

.footer a{
	padding: 0px 24px;
}

#footer-header{
font-family: 'Bebas Neue', sans-serif;
font-size: 27px;
padding: 24px;
}

.footer-contact{
	margin-bottom:40px;
}

.footer-contact p{
margin: 16px auto 0px auto !important;
}

.footer-contact a{
	padding: 0px 24px;
}

.links{
	display: flex;
}

.links a{
	margin: 0 8px;
	font-family:  Work Sans, sans-serif;
  font-size:16px;
}

/*back to top button*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #c3c3c3;
  color: black;
  cursor: pointer;
  padding: 10px;
  border-radius: 100px;
  width:50px;
  height:50px;
}

#myBtn:hover {
  background-color: black;
  color: white;
}

/*------------- FONT SECTION --------------*/
.H1, .H2{
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
}

.H1{
	font-size: 46px;
	margin-bottom: 0px;
}

.H2{
font-size: 36px;
}

.H3{
	font-family:  Work Sans, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	text-transform: uppercase;
}


.P1, .P1-bold,
 .P2, li, .caption{
	font-family:  Work Sans, sans-serif;
	font-style:  normal;
	font-weight: normal;
	font-size: 16px;
	line-height:  27px;
	color: #1D1E22;
}

.P1-bold{
	margin-bottom:4px;
	font-weight: bold;
}

.P3{
	font-family:  Work Sans, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	text-transform: uppercase;
	margin-bottom: 0px;
	color: #1D1E22;
	}

.caption{
font-size: 13px;
line-height: 18px;
text-align: center;
color: #1D1E22;
margin-bottom:24px;
}


/*------------- BUTTON SECTION --------------*/
button{
	border: 1px solid #000000;
	box-sizing: border-box;
	width: 160px;
	background-color: #fff;
	font-family:  Work Sans !important;
	transition: all .3s linear;
}

button:hover{
	background-color: #000;
	color: #fff;
}

.button{
	text-decoration: none;
}

/*case study stylings*/
.grid{
	margin: 200px, 0;
}

.content{
	width: 54%;
	margin:  auto;
}

.divider{
color: #F8F8F8;
margin: 40px auto;
}


/*------------- MOBILE --------------*/
@media (max-width:640px){

.content{
	width: 91%;
	margin: auto;
}	

H1{
	font-size: 40px;
	margin-bottom: 0px;
	line-height: normal;
}

.footer{
	display: block;
	padding: 8px 16pxpx;
}

.footer p{
  color: #000;
  text-align:left;
  font-family:  Work Sans, sans-serif;
  font-size:16px;
  margin: 0 auto;
}

.links{
	margin: 16px auto;
}

.links a{
	margin: 4px auto;
}

.topnav a{
	padding: 0px 16px;
}

.topnav > :first-child{
  line-height: 125%;
  padding-left: 8px;
}

