	/*------------- NAVIGATIONAL ITEMS SECTION --------------*/
.topnav{
	background-color: #FDFDFD;
	box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.08);
	padding: 24px;
	display: flex;
  justify-content: space-between;
}
.topnav a{
	font-family:  Work Sans;
	color: #000;
	padding: 0px 24px;
	float: right;
	text-transform:uppercase;
	font-size: 16px;
}

.topnav a:hover {
  background-color:#1F1E1E;
  color: #fff;
  text-decoration:none;
}

#right{
	display: flex;
}

.footer{
	background-color: #FDFDFD;
	display: flex;
	justify-content: space-between;
	padding: 16px 24px;
}

.footer p{
  color: #000;
  text-align:left;
  font-family:'Work Sans', sans-serif;
  font-size:16px;
  margin: 0 auto;
}

.links{
	display: flex;
}

.links a{
	margin: 0 8px;
	font-family:'Work Sans', sans-serif;
  font-size:16px;
}

/*back to top button*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #c3c3c3;
  color: black;
  cursor: pointer;
  padding: 10px;
  border-radius: 100px;
  width:50px;
  height:50px;
}

#myBtn:hover {
  background-color: black;
  color: white;
}

/*------------- FONT SECTION --------------*/
.H1, .H2{
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
}

.H1{
	font-size: 46px;
	margin-bottom: 0px;
}

.H2{
font-size: 26px;
letter-spacing: 0.05em;
line-height: 32px;
}

.H3{
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	text-transform: uppercase;
}


.P1, .P2, li, .caption{
	font-family:  Work Sans;
	font-style:  normal;
	font-weight: normal;
	font-size: 16px;
	line-height:  27px;
	color: #141516;
}

/*.P1-bold{
	font-weight: semi-bold;
}*/

.P3{
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	text-transform: uppercase;
	margin-bottom: 4px;
	}

.caption{
font-size: 13px;
line-height: 18px;
text-align: center;
}


/*------------- BUTTON SECTION --------------*/
button{
	border: 1px solid #000000;
	box-sizing: border-box;
	width: 160px;
	background-color: #fff;
	font-family: Work Sans !important;
	transition: all .3s linear;
}

button:hover{
	background-color: #164777;
	color: #fff;
}

.button{
	text-decoration: none;
}

/*case study stylings*/
.grid{
	margin: 200px, 0;
}

.content{
	width: 54%;
	margin:  auto;
}

.divider{
color: #F8F8F8;
}


/*------------- MOBILE --------------*/
@media (max-width:640px){

.content{
	width: 91%;
	margin: auto;
}	

H1{
	font-size: 40px;
	margin-bottom: 0px;
	line-height: normal;
}

.footer{
	display: block;
	padding: 8px 16pxpx;
}

.footer p{
  color: #000;
  text-align:left;
  font-family:'Work Sans', sans-serif;
  font-size:16px;
  margin: 0 auto;
}

.links{
	margin: 16px auto;
}

.links a{
	margin: 4px auto;
}

}
